# Introduction / Business Problem

Seattle, Washington, has a notorious reputation as being a wet and rainy city. As Seattle experiences an average of 152 rainy days a year(1) -- more than most North American cities -- we want to see if there is a correlation between weather and car accidents on Seattle streets. Using extensive accident data gathered from the Seattle Department of Transportation, we will predict the severity of such accidents under various weather conditions and make a determination if such factors as weather, time of day, and road condition, have an effect on the frequency of car accidents, as well as the severity of them.

# Data

We will be using a data set published by the Seattle Department of Transportation (SDOT) titled "Collisions - All Years" that contains 194,673 collisions that occurred between January 1, 2004, and May 20, 2020. The collisions were provided by the Seattle Police Department and recorded by the SDOT's Traffic Records group. A sample of the data is below:

In [1]:
import pandas as pd
import numpy as np

In [6]:
# The code was removed by Watson Studio for sharing.

/opt/conda/envs/Python36/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (33) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,...,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,2,-122.323148,47.703140,1,1307,1307,3502005,Matched,Intersection,37475.0,...,Wet,Daylight,NaN,NaN,NaN,10,Entering at angle,0,0,N
1,1,-122.347294,47.647172,2,52200,52200,2607959,Matched,Block,NaN,...,Wet,Dark - Street Lights On,NaN,6354039.0,NaN,11,From same direction - both going straight - bo...,0,0,N
2,1,-122.334540,47.607871,3,26700,26700,1482393,Matched,Block,NaN,...,Dry,Daylight,NaN,4323031.0,NaN,32,One parked--one moving,0,0,N
3,1,-122.334803,47.604803,4,1144,1144,3503937,Matched,Block,NaN,...,Dry,Daylight,NaN,NaN,NaN,23,From same direction - all others,0,0,N
4,2,-122.306426,47.545739,5,17700,17700,1807429,Matched,Intersection,34387.0,...,Wet,Daylight,NaN,4028032.0,NaN,10,Entering at angle,0,0,N

In [9]:
df.shape

(194673, 38)

In [19]:
dfcoll = df[['SEVERITYCODE','SEVERITYDESC','WEATHER','ROADCOND','LIGHTCOND','ADDRTYPE','LOCATION','COLLISIONTYPE']]

dfcoll.head()

,SEVERITYCODE,SEVERITYDESC,WEATHER,ROADCOND,LIGHTCOND,ADDRTYPE,LOCATION,COLLISIONTYPE
0,2,Injury Collision,Overcast,Wet,Daylight,Intersection,5TH AVE NE AND NE 103RD ST,Angles
1,1,Property Damage Only Collision,Raining,Wet,Dark - Street Lights On,Block,AURORA BR BETWEEN RAYE ST AND BRIDGE WAY N,Sideswipe
2,1,Property Damage Only Collision,Overcast,Dry,Daylight,Block,4TH AVE BETWEEN SENECA ST AND UNIVERSITY ST,Parked Car
3,1,Property Damage Only Collision,Clear,Dry,Daylight,Block,2ND AVE BETWEEN MARION ST AND MADISON ST,Other
4,2,Injury Collision,Raining,Wet,Daylight,Intersection,SWIFT AVE S AND SWIFT AV OFF RP,Angles

For this project, we will take a closer look at the weather, road condition, and light condition to predict severity of a car accident. We have eliminated data columns we don't need from the dataset that won't assist in making a determination using these factors. Upon looking at the data below, one can see the number of reported accidents and the severity of them under various weather conditions. 

We will create a test set from this data and look further into road conditions and lighting conditions for each weather type. Our focus will be on Clear, OVercast, Raining, and Snowing types of weather due to the extensive amount of data available for each.

In [31]:
pd.crosstab(dfcoll.WEATHER,dfcoll.SEVERITYCODE)

SEVERITYCODE                  1      2
WEATHER
Blowing Sand/Dirt            41     15
Clear                     75295  35840
Fog/Smog/Smoke              382    187
Other                       716    116
Overcast                  18969   8745
Partly Cloudy                 2      3
Raining                   21969  11176
Severe Crosswind             18      7
Sleet/Hail/Freezing Rain     85     28
Snowing                     736    171
Unknown                   14275    816

# Sources

1. "Seattle's Rainy Reputation Is Well-Deserved", The Weather Channel, October 14, 2016; https://weather.com/science/weather-explainers/news/seattle-rainy-reputation